#app,
body,
html {
  height: 100%;
}

//body{
//    background-color: @background-color-base;
//    font-size: 14px;
//}

// Ẩn kiểu thanh cuộn
.chart-scroll .ivu-scroll-container,
.i-scrollbar-hide {
  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #e8eaec;
  }
}

// Phong cách thanh cuộn tối giản
.right-scroll .ivu-scroll-container,
.i-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #808695;
    border-radius: 4px;
  }
}

// Ẩn kiểu thanh cuộn
.i-scrollbar-hide {
  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #e8eaec;
  }
}

// Phong cách thanh cuộn tối giản
.i-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #808695;
    border-radius: 4px;
  }
}

// Loại bỏ viền trái, phải của Table để sắp xếp hợp lý hơn
.i-table-no-border {
  .ivu-table th {
    background-color: #fff;
  }

  .ivu-table-wrapper,
  .ivu-table tr:last-child td {
    border: none;
  }

  .ivu-table:before,
  .ivu-table:after {
    display: none;
  }
}

.w-80 {
  width: 80px;
}

.w-100 {
  width: 100px;
}
.cup {
  cursor: pointer;
}
.el-input__suffix .el-input__suffix-inner {
  line-height: 2.5;
}
.el-input__suffix .el-input__suffix-inner .el-icon-link {
  font-size: 16px;
  cursor: pointer;
}
