/* bố cục lưới (biến truy vấn phương tiện）
* $xs <768px  Lưới đáp ứng
* $sm ≥768px  Lưới đáp ứng
* $md ≥992px  Lưới đáp ứng
* $lg ≥1200px Lưới đáp ứng
* $xl ≥1920px Lưới đáp ứng
------------------------------- */
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1920px;

/* Chiều rộng trang nhỏ hơn576px
------------------------------- */
@media screen and (max-width: $xs) {
}

/* Chiều rộng trang nhỏ hơn768px
------------------------------- */
@media screen and (max-width: $sm) {
}

/* Chiều rộng trang lớn hơn 768px và nhỏ hơn992px
------------------------------- */
@media screen and (min-width: $sm) and (max-width: $md) {
}

/* Chiều rộng trang lớn hơn 992px và nhỏ hơn1200px
------------------------------- */
@media screen and (min-width: $md) and (max-width: $lg) {
}

/* Chiều rộng trang lớn hơn1920px
------------------------------- */
@media screen and (min-width: $xl) {
}
