@use './index.scss' as *;

/* Chiều rộng trang nhỏ hơn576px
------------------------------- */
@media screen and (max-width: $xs) {
  // MessageBox Hộp bật lên
  .el-message-box {
    width: 80% !important;
  }
}

/* Chiều rộng trang nhỏ hơn768px
------------------------------- */
@media screen and (max-width: $sm) {
  // Breadcrumb vụn bánh mì
  .layout-navbars-breadcrumb-hide {
    display: none;
  }

  // Chế độ xem liên kết bên ngoài
  .layout-view-link {
    a {
      max-width: 80%;
      text-align: center;
    }
  }

  // Tìm kiếm thực đơn
  .layout-search-dialog {
  }

  .el-autocomplete {
    width: 80% !important;
  }
}

/* Chiều rộng trang nhỏ hơn1000px
------------------------------- */
@media screen and (max-width: 1000px) {
  // cấu hình bố trí
  .layout-drawer-content-flex {
    position: relative;

    &::after {
      content: 'Phiên bản di động không hỗ trợ chuyển đổi bố cục';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      text-align: center;
      height: 140px;
      line-height: 140px;
      background: rgba(255, 255, 255, 0.9);
      color: #666666;
    }
  }
}
