/**
 * Dưới đây là các biến kiểu thường được sử dụng được tích hợp trong uni-app
 *
 * Thị trường trình cắm và trình cắm mở rộng chính thức của uni-app（https://ext.dcloud.net.cn）Nhiều plug-in của bên thứ ba trên Internet sử dụng các biến kiểu này
 * Nếu bạn là nhà phát triển plugin, bạn nên sử dụng tính năng tiền xử lý scss và sử dụng các biến này trực tiếp trong mã plug-in (không cần nhập tệp này) để người dùng có thể phát triển Ứng dụng với phong cách tổng thể nhất quán bằng cách xây dựng các khối xây dựng.
 *
 */

/**
 * Nếu bạn là Nhà phát triển ứng dụng (người dùng trình cắm), bạn có thể tùy chỉnh chủ đề trình cắm của riêng mình bằng cách sửa đổi các biến này để đạt được các chức năng chủ đề tùy chỉnh
 *
 * Nếu dự án của bạn cũng sử dụng tiền xử lý scss, bạn cũng có thể sử dụng trực tiếp các biến sau trong mã scss của mình mà không cần nhập tệp này.
 */

/*biến màu*/
/* Quản lý thương gia */
$primary-admin: #2A7EFB;
$light-primary-admin: #E9F2FE;
$gradient-primary-admin: #01ABF8;

/* màu sắc liên quan đến hành vi */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

/* crmebbiến màu */
$theme-color:#E93323; // Màu chủ đề - màu chủ đạo
$theme-color-opacity:rgba(233,51,35,.6); // Màu chủ đề-màu trong suốt
$bg-star: #f62c2c;  // Màu gradient chủ đề-Bắt đầu
$bg-end:#f96e29; // Kết thúc màu gradient chủ đề
$kf-theme : #3875EA; // Màu chủ đề dịch vụ khách hàng
$kf-star:#3875EA; // Màu gradient dịch vụ khách hàng
$kf-end:#1890FC; // Màu gradient dịch vụ khách hàng
$bg-star1: #F73730;  // Màu chuyển sắc chủ đề 1-Bắt đầu
$bg-end1:#F86429;   // Màu chuyển sắc chủ đề 1-End



/* màu nền */
$uni-bg-color:#ffffff;
$uni-page-bg-color:#f5f5f5;
// $uni-page-bg-color:#fff;
$uni-bg-color-grey:#f8f8f8;
$uni-bg-color-hover:#f1f1f1;//Nhấp vào màu trạng thái
$uni-bg-color-mask:rgba(0, 0, 0, 0.4);//Màu mặt nạ

/* Màu đường viền */
$uni-border-color:#c8c7cc;

/* biến kích thước */

/* kích thước văn bản */
$uni-font-size-sm:24upx;
$uni-font-size-base:28upx;
$uni-font-size-lg:32upx;

/* Kích thước hình ảnh */
$uni-img-size-sm:40upx;
$uni-img-size-base:52upx;
$uni-img-size-lg:80upx;

/* Border Radius */
$uni-border-radius-sm: 4upx;
$uni-border-radius-base: 6upx;
$uni-border-radius-lg: 12upx;
$uni-border-radius-circle: 50%;
$uni-border-radius-index: 12rpx; // Bán kính mô-đun nhà
/* Khoảng cách ngang */
$uni-spacing-row-sm: 10px;
$uni-spacing-row-base: 20upx;
$uni-spacing-row-lg: 30upx;
$uni-index-margin-col: 30rpx; // cấp độ mô-đun
/* khoảng cách dọc */
$uni-spacing-col-sm: 8upx;
$uni-spacing-col-base: 16upx;
$uni-spacing-col-lg: 24upx;
$uni-index-margin-row: 20rpx; // Mô-đun dọc
/* Minh bạch */
$uni-opacity-disabled: 0.3; // Tính minh bạch của trạng thái vô hiệu hóa thành phần
$uni-index-box-shadow: 0rpx 3rpx 10rpx 2rpx rgba(0, 0, 0, 0.03);
/* Cảnh bài viết liên quan */
$uni-color-title: #2C405A; // Màu tiêu đề bài viết
$uni-font-size-title:40upx;
$uni-color-subtitle: #555555; // Màu tiêu đề phụ
$uni-font-size-subtitle:36upx;
$uni-color-paragraph: #3F536E; // Màu đoạn bài viết
$uni-font-size-paragraph:30upx;
$uni-color-tip: #ccc; // Màu văn bản lời nhắc dưới cùng

// Cỡ chữ trang chủ
$uni-index-title-font-size: 34rpx;

/* Quản lý thương gia */
$primary-admin: #2A7EFB;
$light-primary-admin: #E9F2FE;
$gradient-primary-admin: #01ABF8;